/**
 * Vars
 */

$black: #000;
$white: #fff;
$red: #FF4E4E;
$is_admin: true;
$is_web: false;

@import 'assets/vendors/bootstrap4/functions';
@import 'assets/vendors/bootstrap4/variables';
@import 'assets/vendors/bootstrap4/mixins';
@import 'assets/vendors/bootstrap4/root';
@import 'assets/vendors/bootstrap4/grid';
@import 'assets/vendors/bootstrap4/utilities';

@import 'assets/css/scss/mixin';
@import 'assets/css/scss/main';
@import 'assets/css/scss/typo';
@import 'assets/css/scss/btns';

@import 'assets/css/scss/components/header';
@import 'assets/css/scss/pages/home';
