/**
 * Vars
 */

$black: #000;
$white: #fff;
$red: #FF4E4E;


/**
 * Includes
 */

@import 'assets/vendors/bootstrap4/bootstrap';
@import 'assets/css/scss/mixin';
@import 'assets/css/scss/main';
@import 'assets/css/scss/typo';
@import 'assets/css/scss/btns';

@import 'assets/css/scss/components/header';

/*@import 'assets/css/scss/pages/home';*/
